/* Shared */ 
.avatar > * {
  width: 30px;
  height: 30px;
}

.btn-static {
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
  color: var(--bs-btn-color);
  pointer-events: none;
  cursor: default;
}

/* Nav */
nav {
  background-color: #e5e3e2;
  padding: 15px;
  padding-left: 100px;
  font-size: large;
  text-align: left;
}

nav a {
  color: #2d2d2d;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #7a7373;
}

nav a.active {
  color: #6f3fe8;
}

/* Home Layout */
.home-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}

.main-content {
    flex: 1;
    min-width: 0;
}

/* Sidebar */
.sidebar {
    min-width: 200px;
    max-width: 300px;
    flex-shrink: 0;
}

/* Media Queries */
@media (max-width: 767px) {
    .home-container {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
        margin: 0 auto;
    }
}

/* Question */
.question p::first-letter, .question button::first-letter {
    text-transform: capitalize;
}
