/* Nav */
nav {
    background-color: #e5e3e2;
    padding: 15px;
    padding-left: 100px;
    font-size: large;
    text-align: left;
  }
  
  nav a {
    color: #2d2d2d;
    margin-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: #7a7373;
  }
  
  nav a.active {
    color: #6f3fe8;
  }
  